{$COOKING_APP_DOMAIN} {
	encode gzip zstd

	# API
	handle /api/* {
		reverse_proxy api:8080
	}

	# Static frontend
	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	log {
		output file /data/access.log
		format json
	}
}
